* {
    box-sizing: border-box;
}

.body {
    font-family: sans-serif;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.banner {
    height: 380px;
    background: url(../images/Hero.png) center no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
}

.banner-header {
    color: white;
    font-size: 40px;
    line-height: 41px;
    letter-spacing: 3.89px;
    margin-top: 89px;
    margin-bottom: 96px;
}

.banner #distinct-select {
    width: 452px;
}

#distinct-select {
    background: url(../images/icons_down.png) no-repeat;
    background-color: rgba(255, 255, 255, 0.70);
    background-position: calc(100% - 20px) 50%;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    font-size: 18px;
    line-height: 21px;
    padding: 12px 9.5px 9px 9.5px;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#footer {
    background-color: #559AC8;
    color: white;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

#footer * {
    margin-bottom: 15px;
}

#footer *:last-child {
    margin-bottom: 0;
}

.footer-source {
    color: #FFD366;
}

.content {
    padding-top: 65px;
    background-color: #F7F7F7;
    position: relative;
}

.content-header {
    font-size: 36px;
    color: #8A82CC;
    text-align: center;
    margin-bottom: 24px;
}

.hot-district-outer {
    background-color: #F7F7F7;

    
}

.hot-district-bottom {
    border-bottom: 1px dashed #559AC8;
    margin: 0 62px;
}

.hot-district-inner {
    background-color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
    padding: 18px 26px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    position: relative;
    top: -25px;
}
.hot-district-inner h3 {
    margin-bottom: 14px;
}
#hot-district-list {
    display: flex;
    margin: 0 12px;
}

#hot-district-list li {
    padding: 11px 34px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    margin: 0 12px;
}

#hot-district-list li:first-child {
    background-color: #8A82CC;
}
#hot-district-list li:last-child {
    background: #559AC8;
}

#hot-district-list li:nth-child(2) {
    background: #FFA782;
}

#hot-district-list li:nth-child(3) {
    background: #F5D005;
}

.zone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 24px 0 24px;
}

.zone-list>li{
    width: 48%;
    background-color: white;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
    margin-bottom: 36px;
    position: relative;
    margin: 0 1% 36px 1%;
}

.spot-img {
    /* background: url(https://khh.travel/FileArtPic.ashx?id=705&w=1280&h=960) no-repeat center; */
    /* background-size: cover; */
    color: white;
    height: 155px;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.spot-img img {
    position: absolute;
    height: 155px;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
}

.spot-img .name {
    font-size: 24px;
    line-height: 28px;
    z-index: 0;
}

.spot-img .zone {
    font-size: 16px;
    line-height: 19px;
    z-index: 0;
}
.spot-information {
    padding: 22px;
}

.spot-information>li {
    margin-bottom: 16px;
}

.spot-information>li .icon {
    width: 18px;
    text-align: center;
}

.spot-information>li p, .spot-information>li address {
    display: inline;
}

.spot-information>li:last-child {
    margin-bottom: 0;
}

.icon {
    margin-right: 8px;
    display: inline-block;
}



.open-hour {
    font-size: 16px;
    line-height: 18px;
}

.spot-tag {
    position: absolute;
    right: 24px;
    bottom: 19px;
    font-size: 16px;
}

.go-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}