* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
    background-color: #F7F7F7
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    clear: both;
}

.clearfix {
    *zoom: 1;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

.header {
    height: 380px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../images/Hero.png) center no-repeat;
    background-size: cover;
    text-align: center;
    overflow: auto;
}

.header-title {
    color: white;
    font-size: 40px;
    letter-spacing: 40px;
    margin-top: 89px;
    margin-bottom: 96px;
}

.header .zone-select {
    width: 500px;
}

.zone-select {
    background: url(../images/icons_down.png) no-repeat;
    background-color: rgba(255, 255, 255, 0.80);
    background-position: calc(100% - 20px) 50%;
    border: 3px solid #FFFFFF;
    border-radius: 3px;
    font-size: 18px;
    padding: 12px 9.5px 9px 9.5px;
    font-weight: 600;
    outline: 0;
}

#footer {
    background-color: #559AC8;
    color: white;
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

#footer * {
    margin-bottom: 15px;
}

#footer *:last-child {
    margin-bottom: 0;
}

.footer-source {
    color: #FFD366;
}

.content {
    padding-top: 65px;
    background-color: #F7F7F7;
    position: relative;
}

.content-header {
    font-size: 36px;
    color: #8A82CC;
    text-align: center;
    margin-bottom: 24px;
}

.hot-zone-outer {
    background-color: #F7F7F7;
}

.hot-zone-bottom {
    border-bottom: 1px dashed #559AC8;
    margin: 0 62px;
}

.hot-zone-inner {
    background-color: #FFFFFF;
    max-width: 800px;
    margin: 0 auto;
    padding: 18px 26px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.20);
    border-radius: 5px;
    position: relative;
    top: -25px;
}

.hot-zone-inner h3 {
    margin-bottom: 14px;
}

#hot-zone-list {
    display: flex;
    margin: 0 12px;
}

#hot-zone-list li {
    padding: 11px 34px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    margin: 0 12px;
}

#hot-zone-list li:first-child {
    background-color: #8A82CC;
}

#hot-zone-list li:last-child {
    background: #559AC8;
}

#hot-zone-list li:nth-child(2) {
    background: #FFA782;
}

#hot-zone-list li:nth-child(3) {
    background: #F5D005;
}

.zone-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 24px 0 24px;
}

.zone-list>li {
    width: 48%;
    background-color: white;
    box-shadow: 4px 3px 5px 0px rgba(0, 0, 0, 0.03);
    position: relative;
    margin: 18px 1%;
    transition: all 0.3s ease;
}

.zone-list>li:hover {
    box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.spot-img {
    color: white;
    height: 243px;
    padding: 14px 22px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
}

li .spot-img:before {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.15) 50%, rgba(0, 0, 0, 0.3) 70%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0.5) 85%, rgba(0, 0, 0, 0.6) 90%, rgba(0, 0, 0, 0.7) 100%);
}

.spot-img img {
    position: absolute;
    height: 243px;
    object-fit: cover;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s ease;
}

.zone-list>li:hover .spot-img img {
    transform: scale(1.2);
}

.spot-img .name {
    font-size: 20px;
    line-height: 28px;
    z-index: 2;
    color: #F1A509;
    font-weight: bold;
    border-bottom: 1px solid #F1A509;
}

.spot-img .zone {
    font-size: 16px;
    line-height: 19px;
    z-index: 2;
}

.spot-information {
    padding: 22px;
}

.spot-information>li {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
}

.spot-information>li .icon {
    width: 18px;
    text-align: center;
}

.spot-information>li:last-child {
    margin-bottom: 0;
}

.icon {
    margin-right: 8px;
    display: inline-block;
}

.open-hour {
    font-size: 16px;
    line-height: 18px;
}

.spot-tag {
    position: absolute;
    right: 24px;
    bottom: 19px;
    font-size: 16px;
}

.go-top {
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.page-selection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 36px;
}

.page-selection a {
    margin-right: 24px;
    color: #4A4A4A;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.page-list a {
    padding: 8px 12px;
    display: inline-block;
    text-align: center;
    border: 1px solid black;
}

.page-list a.active {
    background-color: orange;
    color: white;
    border: 1px solid transparent;
}

.page-prev.disabled,
.page-next.disabled {
    color: #4A4A4A80;
    cursor: default;
    pointer-events: none;
}